.skin-red .wrapper, .skin-red .main-sidebar, .skin-red .left-side{
  background-color: #fff;
}

.main-header .navbar{
  min-height: 80px;
}

.navbar-nav > li > a {
  line-height: 50px;
}

.navbar-brand {
  height: 80px;
}

.main-sidebar {
  padding-top: 80px;
}

.btn-red {
  background-color: #b71c1c;
}